
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body{
	font-family: 'Indie Flower', cursive;
	font-weight: bolder;
}

html{ scroll-behavior: smooth; }

/* TOP OF PAGE */
#initals{
	text-align: center;
	font-weight: bolder;
	font-size: large;
	margin-top: 1rem;
}

.button-1{
border-color: black;
float: right;
margin: auto;
margin-bottom: rem;

}

.about-me{
	font-size: 25px;
	margin-right: 70rem;
	margin-top: 9rem;
}


#firsthead {
text-align: center;
margin-top: 20rem;
color: rgb(0, 0, 0);
font-weight: bolder;
font-size: 400%;
}

#sechead{
text-align: center;
color: rgb(0, 0, 0);
font-weight: bolder;
font-size: 30%;
}





/* small */
@media screen and (max-width: 576px) {
	body {
		background-color: rgb(255, 255, 255);
		background-image: radial-gradient(whitesmoke, rgb(255, 255, 255));
		display: block;
	}
}
/* medium */
@media screen and (min-width: 768px) {
	body {
		background-color: rgb(255, 255, 255);
		background-image: radial-gradient(whitesmoke, rgb(255, 255, 255));
	}
}
/* large */
@media screen and (min-width: 992px) {
	body {
		background-color: rgb(255, 255, 255);
		background-image: radial-gradient(whitesmoke, rgb(255, 255, 255));
	}
}

/* xl  */
@media screen and (min-width: 1200px) {
	body {
		background-color: rgb(255, 255, 255);
		background-image: radial-gradient(whitesmoke, rgb(255, 255, 255));
	}
}
