body {
	font-family: "Shadows Into Light", cursive;
	font-weight: bolder;
}

html {
	scroll-behavior: smooth;
}

/* TOP OF PAGE */
#initals {
	text-align: center;
	font-weight: bolder;
	font-size: large;
	margin-top: 1rem;
	color: #ffc600;
}

h6 {
	text-align: center;
	color: #ffc600;
}

.about-me {
	font-size: 25px;
	margin-top: 20rem;
	text-align: center;
}
.big-font {
	text-align: left;
	font-weight: bolder;
	margin-left: 50rem;
}

section .main-page {
	height: 100vh;
	display: flex;
	justify-content: center;
	scroll-snap-type: y mandatory;
}

#quick-info {
	text-align: center;
	color: rgb(0, 0, 0);
	font-weight: bolder;
	font-size: 250%;
}

#hero-name {
	text-align: center;
	font-weight: 700;
	font-size: 10rem;
	margin-top: 15rem;
	text-transform: uppercase;
	text-shadow: 0.05em 0 0 rgba(255, 0, 0, 75),
		-0.025em -0.05em 0 rgba(0, 255, 0, 75), 0.025em 0.05em 0 rgba(0, 255, 0, 75);

		/* /* animation: glitch 500ms infinite; */
} 

@keyframes glitch {
0%{
		text-shadow: 0.05em 0 0 rgba(255, 0, 0, 75),
		-0.05em -0.025em 0 rgba(0, 255, 0, 75), -0.025em 0.05em 0 rgba(0, 255, 0, 75);

}
14%{
		text-shadow: 0.05em 0 0 rgba(255, 0, 0, 75),
		-0.05em -0.025em 0 rgba(0, 255, 0, 75), -0.025em 0.05em 0 rgba(0, 255, 0, 75);

}
15%{
		text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 75),
		0.025em 0.025em 0 rgba(0, 255, 0, 75), -0.05em -0.05em 0 rgba(0, 255, 0, 75);

}
49%{
		text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 75),
		0.025em 0.025em 0 rgba(0, 255, 0, 75), -0.05em -0.05em 0 rgba(0, 255, 0, 75);

}
50%{
		text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 75),
		0.05em 0 0 rgba(0, 255, 0, 75), 0 -0.05em 0 rgba(0, 255, 0, 75);

}
99%{
		text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 75),
		0.05em 0 0 rgba(0, 255, 0, 75), 0 -0.05em 0 rgba(0, 255, 0, 75);

}
100%{
		text-shadow: -0.025em 0 0 rgba(255, 0, 0, 75),
		-0.025em -0.025em 0 rgba(0, 255, 0, 75), -0.025em -0.05em 0 rgba(0, 255, 0, 75);

}


}

/* SKILLS SECTION */
#container {
	height: unset;
	max-width: 50%;
	margin-right: 2rem;
	width: 25%;
	list-style: none;
	height: 100vh;
}

/* small */
@media screen and (max-width: 576px) {
	body {
		background-color: rgb(255, 255, 255);
		background-image: radial-gradient(whitesmoke, rgb(255, 255, 255));
		display: block;
	}
}
/* medium */
@media screen and (min-width: 768px) {
	body {
		background-color: rgb(255, 255, 255);
		background-image: radial-gradient(whitesmoke, rgb(255, 255, 255));
	}
}
/* large */
@media screen and (min-width: 992px) {
	body {
		background-color: rgb(255, 255, 255);
		background-image: radial-gradient(whitesmoke, rgb(255, 255, 255));
	}
}

/* xl  */
@media screen and (min-width: 1200px) {
	body {
		background-color: rgb(255, 255, 255);
		background-image: radial-gradient(whitesmoke, rgb(255, 255, 255));
	}
}
