


body{
font-family: 'Shadows Into Light', cursive;
font-weight: bolder;
}

html{ scroll-behavior: smooth; }


/* TOP OF PAGE */
#initals{
	text-align: center;
	font-weight: bolder;
	font-size: large;
	margin-top: 1rem;
	color: #FFC600;
}

h6{
	text-align: center;
	color:#FFC600;
}

.about-me{
	font-size: 25px;
	margin-top: 20rem;
	text-align: center;
}
.big-font{
	text-align: left;
	font-weight: bolder;
	margin-left: 50rem;

}

 section .main-page{
	height: 100vh;
	display: flex;
	justify-content: center;
	scroll-snap-type: y mandatory; 
}

#quick-info {
text-align: center;
color: rgb(0, 0, 0);
font-weight: bolder;
font-size: 250%;
}

#hero-name{
text-align: center;
color: rgb(0, 0, 0);
font-weight: bolder;
font-size: 18rem;
margin-top: 15rem;
}

/* SKILLS SECTION */
 #container {
	height: unset;
	max-width: 50%;
	margin-right: 2rem;
	width: 25%;
	list-style: none;
	height: 100vh;
}






/* small */
@media screen and (max-width: 576px) {
	body {
		background-color: rgb(255, 255, 255);
		background-image: radial-gradient(whitesmoke, rgb(255, 255, 255));
		display: block;
	}
}
/* medium */
@media screen and (min-width: 768px) {
	body {
		background-color: rgb(255, 255, 255);
		background-image: radial-gradient(whitesmoke, rgb(255, 255, 255));
	}
}
/* large */
@media screen and (min-width: 992px) {
	body {
		background-color: rgb(255, 255, 255);
		background-image: radial-gradient(whitesmoke, rgb(255, 255, 255));
	}
}

/* xl  */
@media screen and (min-width: 1200px) {
	body {
		background-color: rgb(255, 255, 255);
		background-image: radial-gradient(whitesmoke, rgb(255, 255, 255));
	}
}
